*{
	/*outline: */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	text-decoration: none;
	
}
html {
	scroll-behavior: smooth;
  }

body{
   font-family: Roboto Mono, monospace;
    background-image: linear-gradient(to right, #454851 0%, #454851 35%, #FFFFFF 35%);
	
}
h1,h2,h3,h4,h5,h6,p{
	color: #454851;
	word-wrap: wrap;
}
h3 span{
	font-weight: 500;
}
.skills{
	margin-bottom: 1rem;
}
.skills>h3, .skills>p{
	margin-bottom: .8rem;

}

.blog{
	margin-top: 1.8rem;
}
.blog div{
	margin-bottom: 1.5em;
	padding: .6rem;
	/* background-color: #454851; */
	
}
.blog div  p{
color: #454851;
}
.blog div a h3{
	color: #454851;
	margin-bottom: .5em;
}

/* .dropdown{
	background-color: #FFFFFF;
	width: 380px;
	
	padding: .6rem 1rem;;
	display: none;
} */
.dropdown ul li {
	margin-bottom: .8rem;
}
.dropdown ul li a{
	font-size: 1.6rem;
	color: #fff;
	/* text-transform: uppercase; */
}
.dropdown ul li a:hover{
	color: #fff;
}

.dropdown.active{
	display: block;
}

.container{
	/* height: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20%;
	min-height: 100vh;
	;
}
.container main{
	padding: 0 1rem;
}

img.me{
	border-radius: 4px;
	max-width: 560px;
	height: auto;
	/*animation: zoom 1s linear;*/
}
h1.heading{
	font-size: 3rem;
	color: #aaa;
	font-weight: 900;
}

h1.heading strong{
	color: #454851;
}
p.bio{
	margin: 2rem 0;
	color: #111;
	font-weight: 900;
	font-size: 1.1rem;

}
.social-media ul{
	list-style: none;
}
.social-media ul li {
	padding: 4px 0;
}
.social-media ul li a {
	display: flex;
	align-items: center;

}
.social-media ul li a span{
	margin-left:12px; 
}
.social-media ul li a span:hover{
	opacity: 0.8;
}

@keyframes opacitChange{
	from{
		opacity: 0.2;
	}
	to{
		opacity: 1;
	}
}
@keyframes zoom{
	from{
		transform: scale(.8);
	}
		to{
		transform: scale(1);
	}
}

@media only screen and (max-width: 766px) {
	body{
		 background-image: linear-gradient(to right, #454851 0%, #454851 10%, #FFFFFF 10%);
	}
	*{
		overflow-y: auto;

	}
	.container{
		flex-direction: column;
		padding: 20px 0% 20px 10%;

	}
	img.me{
		width: 80%;
	}
	h1.heading{
	font-size: 2rem;

	}
	p.bio{
	line-height: 1.5rem;

	}
}